.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover{
    background-color: blue;
}
#about{
    margin-top: 60px;
}
.profilepic{
    display: flex;
    text-align: center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

a.butt{
    margin: 10px;
}

body{
    background-color: #607d8b;
    z-index: 0;
}

.fa-7x{
    color: rgb(212, 212, 212);
}

#textarea{
    width: 500px;
    height: 200px;
}

.fa-3x{
    color: rgb(212, 212, 212);
}


@media only screen and (max-width: 600px) {
.navbar{
    float: none;
    width: 100%;
    z-index: 4;
}



form{
    height: auto;
    width: auto;
}



body{
    background-color: #607d8b;
    z-index: 0;
}

#textarea{
    width: 500px;
    height: 200px;
}
}